# project files
target
runners
requestdata.properties

# another files
authToken.properties


# IDEs files
## IntelliJ IDEA
*.iml
.idea

## NetBeans
nb*.xml

## Eclipse
.metadata
.project
.settings
.servers